@model ProjetoBiblioteca.Models.Datas

@{
    ViewData["Title"] = "Create";
}

<h1>Cadastrar Datas</h1>

<h4>Datas</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="AlunoId" class="control-label">Aluno</label>
                <select asp-for="AlunoId" class ="form-control" asp-items="ViewBag.AlunoId"></select>
            </div>
            <div class="form-group">
                <label asp-for="LivroId" class="control-label">Livro</label>
                <select asp-for="LivroId" class ="form-control" asp-items="ViewBag.LivroId"></select>
            </div>
            <div class="form-group">
                <label asp-for="DataRetirada" class="control-label"></label>
                <input asp-for="DataRetirada" class="form-control" />
                <span asp-validation-for="DataRetirada" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DataDevolucao" class="control-label"></label>
                <input asp-for="DataDevolucao" class="form-control" />
                <span asp-validation-for="DataDevolucao" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Cadastrar" class="btn btn-primary" />
            </div>
        </form>
        <div style="margin-bottom: 5px;">
            <img class="livro" src="/Img/livros telas.png" />
        </div>
    </div>
</div>

<div>
    <a asp-action="Index">Voltar à Lista</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

