html {
  font-size: 14px;
  border:0px;
  margin:0px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
    border:0px;
    margin:0px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
    border: 0px;
    margin: 0px;
}
.imgfundo{
    width: 100%;
    margin-top: 135px;
   
}
.footer {
    background-color: #94BFDE;

}
.logo{
    height:65px;
    width:50px;
}
.navbar {
    background-color:#94BFDE !important;
}
.livro{
    width:100%;
    height:200px;
    margin-left: 960px;
}